.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    min-width: 35px !important;
    padding: 5px !important;
}
*{
   box-sizing: border-box;
}
.primeshow{
    background: linear-gradient(90deg, rgba(35, 136, 255, 0.95) 0.61%, rgba(143, 87, 214, 0.95) 100%);
    transition: all 0.5s ease-out;
    transition-duration: 2s;
}
